<h1>@ViewBag.Title</h1>

<form method="post" onsubmit="return confirm('Are you sure you want to submit this form?')" >
    <table class="table table-bordered  table-striped shadow ">
        <thead class="thead-dark">
            <tr>
                <th>Selected</th>
                <th>Location</th>
                <th>Name</th>
                <th>Date</th>
                <th>Severity</th>
            </tr>
        </thead>
        @foreach (var symptom in ViewBag.symptoms)
        {
            <tr>
                <td><input type="checkbox" name="symptomIds" id="@symptom.ID" value="@symptom.ID" /></td>
                <td>@symptom.Location</td>
                <td>@symptom.Name</td>
                <td>@symptom.Date</td>
                <td>@symptom.Severity</td>
            </tr>
        }


    </table>

    <input class="shadow" type="submit" value="Remove Selected Symptom(s)"  />
</form>
